nbproject
._*
.buildpath
.DS_Store
.idea
.xml
.zip
.log
.bak
.BAK
.TMP
.svn
_notes
.project
.settings
**/vendor/*
**/composer.lock
screenshots/*
reports/*
temporary/*
*.jar
debug.log
debug.php
env.php

